#header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
#header .header-Row{
    background-color:  #004c3f;
    padding: .5em 0;
}

#header .logo-Image{
    width: 50px;
    height: 40px;
}
#header .nav-Column{
    align-self: center;
}
#header .nav-List{
    display: flex;
    justify-content: right;
    justify-content: flex-end;
}
#header .nav-List--Link{
    padding:0 15px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
#header .nav-List--Link:hover{
    text-decoration: underline;
}
#header .mobile-nav--Column{
    display: none;
    align-self: center;
}
/* bootstrap Changes */
#header .dropdown-menu{
    background: transparent;
    border: none;
}
#header .dropdown-toggle{
    display: none;
}
#header .navbar{
    padding: 0;
}
#header .navbar-dark .navbar-toggler {
    border: none;
}
/* Mobile Navigation Links */
#header .mobile-nav--Column .nav-List--Item{
    padding: 15px 0px;
    text-align: center;
}
#header .mobile-nav--Column .nav-List--Link{
    font-size: 20px;
}
.nav-up {
    transform : translateY(-341px);
    transition : transform 0.3s 0s ease-in-out;
}
.nav-down {
    transform : translateY(0);
    transition : transform 0.3s 0s ease-in-out;
}


.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}






/* Hero Section */
.hero-section {
    line-height: 1.35;
    background-color:  #004c3f;
    position: relative;
}
.hero-section .hero-grid{
    max-width: 1500px;
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto repeat(24, 1fr) auto;
    grid-template-rows: 4em 8em 8em 1fr 1.5em auto 10em 1em;
    height: auto;
    box-sizing: border-box;
    margin: 0px;
} 
.hero-section .hero-grid .hero-style2{
    grid-area: 1 / 1 / 8 / 27;
    height: 100%;
}
.hero-section .hero-grid .hero-style2 .hero-style{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    height: 100%;
} 
.hero-section .hero-grid .hero-textbox .textbox-background{
    background-color: white;
    padding: 2em 2em 3em;
    border-radius: 25px;
    /* border: 4px solid;    */
    box-shadow: rgba(0, 0, 0, 0.472) 18px 18px 10px 0px;
}
.hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style{
    font-size: 0px;
    width: 100%;
}
.hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style .img{
    width: 100%;
    position: relative;
    object-fit: cover;
    display: none;
}
.hero-section .hero-grid .hero-textbox{
    grid-area: 3 / 3 / 5 / 17;
    opacity: 1;
    align-self: center;
    min-width: 21em;
    max-width: 900px;
    z-index: 3;
}
.hero-section .hero-grid .hero-textbox-2{
    grid-area: 1 / 13 / 5 / 17;
    opacity: 1;
    align-self: center;
    min-width: 21em;
    max-width: 900px;
    z-index: 3;
}
.hero-section .hero-grid .hero-textbox-2 img{
    width: 250px;
    padding: 0em;
    border-radius: 50%;
    border: 4px solid #fffcc6;
    box-shadow: rgba(0, 0, 0, 0.472) 10px 10px 7px 7px;
}
.hero-section .top-Text{
    font-size: 24px;
    font-weight: 900;
}
.hero-section .main-Text{
    font-weight: 800;
    font-size: 85px;
    width: 300px;
}
.hero-section .lower-Text{
    font-weight: 500;
}
.hero-section .roles{
    font-size: 30px;
    font-weight: 600;
    
}
.hero-section .x-span{
    font-size: 15px;
    position: relative;
    bottom: 4px;
}
.hero-section .base{
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
}
.hero-section .hero-grid .hero-textbox .textbox-background .description{
margin: .75em 16px 1.5em;
}
.hero-section .hero-grid .hero-textbox .textbox-background .description .textbox-description{
color: rgb(101, 101, 101);
font-size: 16px;
line-height: 1.35;
font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}
.hero-section .textbox-button button{
padding: 12px 0px;
border-radius: 10px;
}
.hero-section .textbox-button .link-padding{
padding: 15px 40px;
}
.hero-section .hero-Shopify--img{
    position: relative;
    top: 5px;
}

/* Hero Custom Background Shape */
.custom-shape-divider-bottom-1652135517 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1652135517 svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 68px;
}
.custom-shape-divider-bottom-1652135517 .shape-fill {
    fill: #FFFFFF;
}






    /* About Me Section */
#about-Me--Section{
    padding: 2em 0em;
}
#about-Me--Section .section-Row{
    align-items: center;
}
#about-Me--Section .section-Title {
    font-family: "Museo Sans Rounded",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-decoration: underline;
    justify-content: center;
    padding-bottom: .5em;
    color: rgb(0, 0, 0);
}
#about-Me--Section .text-Column{
    padding: 3em;
}
#about-Me--Section .text{
    font-family: "Museo Sans Rounded",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: black;
    font-size: 30px;
    margin-bottom: 1em;
    line-height: 40px;
    text-indent: 15px;
}


.sub-text{
    font-size: 20px;
    line-height: 40px;
    font-weight: 100;
    color: rgb(68, 68, 68);
    font-family: helvetica;
}
/* .visibility-Hidden{
    visibility: hidden;
} */










/* Tech Stack */
#web-Technologies--Section {
    padding: 10em 0 2em;
}
.title-Row{
    padding-bottom: 2em;
}
.section-Title{
    font-size: 50px;
    font-weight: 900;
    text-decoration: underline;
    font-family: "Museo Sans Rounded",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.description-Row{
    padding: 0em 0 2em;
}
#web-Technologies--Section .description-Text{
    text-align: center;
}
.description-Text{
    font-size: 20px;
    line-height: 35px;
    font-weight: 100;
    color: rgb(68, 68, 68);
    font-family: helvetica;
}
.description-Text b{
    font-size: 22px;
    font-weight: 800;
    color: black;
}
#web-Technologies--Section .tech-Column{
    text-align: center;
    padding: 1em 0;
}
#web-Technologies--Section .tech-Column img{
    width: 100%;
    max-height: 90px;
    object-fit: contain;
}
#web-Technologies--Section .tech-Name{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    padding-top: 3em ;
    /* font-weight: 600; */
}





#carousel-section button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
  
#carousel-section .carousel-img {
    display: block;
    width: 90px;
    max-height: 100%;
}
  
#carousel-section {
    width: 100%;
    overflow: hidden;
}
  
#carousel-section article {
    display: flex;
    width: 200%;
    animation: bannermove 20s linear infinite;
}
  
#carousel-section article.paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
  
#carousel-section div {
    width: 100%;
}
  
#carousel-section ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
  
#carousel-section li {
    width: 100%;
    padding: 0 1em;
}

  
@keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}
  






.page-Title{
    font-family: "Museo Sans Rounded",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 800;
    font-size: 22px;
    margin: 2em 0 1em;
}





































#latest-Work--Section{
    padding: 10em 0;
}
#latest-Work--Section .project-Row{
    padding: 1em 0;
}
#latest-Work--Section .title-Row {
    text-align: left;
    padding-bottom: 2em;
  }
#latest-Work--Section .description-Row{
    padding: 0em 0 1em;
}
#latest-Work--Section .description-Text{
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    color: rgb(68, 68, 68);
    font-family: helvetica;
    line-height: 40px;
}
#latest-Work--Section .description-Text b{
    font-weight: 800;
    font-size: 20px;
    color: black;
    
}
#current-Work--Section .store-Password b{
    font-weight: 800;
    font-size: 22px;
    color: rgb(255, 0, 0);
    
}
#current-Work--Section .store-Password{
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 0, 0);
}


#latest-Work--Section .project-Column{
    text-align: center;
    margin-bottom: 3em;
}

#latest-Work--Section .pages-Container{
    padding-top: 1em;
}

#latest-Work--Section img {
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.472) 0px 0px 10px 0px;
}
#latest-Work--Section img:hover {
    box-shadow: rgba(0, 0, 0, 0.472) 0px 0px 15px 0px;
}


.page-Link{
    /* color: rgb(68, 68, 68); */
    color: white;
    background-color: black;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    /* text-decoration: underline; */
    /* border: 2px solid; */
    padding: 15px 30px;
    box-shadow: rgba(0, 0, 0, 0.472) 0px 0px 10px 0px;
}
.page-Link:hover{
    color: rgb(255, 255, 255);
    /* background-color: black; */
    box-shadow: rgba(0, 0, 0, 0.472) 0px 0px 15px 0px;
}



#latest-Work--Section .description-Column{
    margin-left: 1em;
}










































/* Current Work */
#current-Work--Section{
    /* background-color:  #004c3f; */
    padding: 6em 0;

}

#current-Work--Section .project-Column{
    text-align: center;
    margin-bottom: 3em;
}

#current-Work--Section img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.472) 0px 0px 15px 0px;
    /* border: 4px solid; */
    border-radius: 25px;
    /* box-shadow: rgb(0, 0, 0) 15px 15px 0px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.472) 18px 18px 0px 0px; */
  }





















.text-Column .text{
    font-weight: 300;
    font-family: Helvetica;
    color: rgb(68, 68, 68);
    font-size: 20px;
    margin-bottom: 1em;
    line-height: 40px;
    /* text-indent: 15px; */
    /* text-align: center; */
}
 
#current-Work--Section .bold-Text{
    font-weight:900;
    font-family: "Museo Sans Rounded",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 30px;
}

.text-Column .project-Link{
    text-decoration: underline;
    /* font-family: monaco; */
}

#current-Work--Section .password{
    color: red;
}










/* Contact Section */



#contact-Section{
    padding: 8em 0em;
}

#contact-Section .form-Container{
    padding: 2em 0;
}

#contact-Section .input{
    font-size: 18px;
    border: 2px solid #004c3f;
    border-radius: 10px;
    width: 100%;
    text-indent: 20px;
}

#contact-Section button{
    margin-left: 1em;
    box-shadow: rgba(0, 0, 0, 0.472) 0px 0px 15px 0px;
    background: #004c3f;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: #004c3f;
  }



  #thanks-Section .thanks-Message {
  text-align: center;
  top: 50%;
  left: 0%;
  position: absolute;
  color: #424242;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: 300;
  line-height: 60px;
}

#thanks-Section button{
    background-color: transparent;
    border: none;
    margin-top: 1em;
}
#thanks-Section .button{
    margin-top: 2em;
    background: #004c3f;
    color: white;
    /* width: 150px; */
    padding: 10px 20px;
    border-radius: 10px;
    border: #004c3f;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.472) 0px 0px 15px 0px;
  }

















/* +++++++++    Media Queries     ++++++++++ */

@media (max-width: 1210.98px) { 
    #header .nav-Column{
        display: none;
    }

    #header .mobile-nav--Column{
        display: inline-block;
    }

    #header .logo-Column{
        display: none;
    }






    /* Header Section */
    #header .link-List{
        display: none;
    }
    #header .mobile-link--List{
        display: inline-block;
    }







    /*---------- Hero Section -----------*/
    .hero-section .hero-grid{
        grid-template-rows: 15em 4em 1fr 1.5em auto 20em;
    }
    .hero-section .hero-grid .hero-textbox{
        grid-area: 2 / 3 / 5 / 25;
        min-width: 12em;
    }
    .hero-section .hero-grid .hero-textbox .textbox-background{
      padding: 2em 2em 2em;
    }

    .hero-section .hero-grid .hero-textbox-2 img {
        width: 200px;
    }

    .hero-section .hero-grid .hero-textbox-2 {
        grid-area: 1 / 17 / 5 / 21;
        opacity: 1;
        align-self: center;
        min-width: 21em;
        max-width: 900px;
        z-index: 3;
      }











    /* About Me */
    #about-Me--Section .section-Container{
        max-width: 100%;
        padding: 0 3em;
    }
    #about-Me--Section .section-Title {
        font-weight: 900;
        padding-right: 1em;
        color: rgb(0, 0, 0);
    }





    
    }
    
    
@media (max-width: 991.98px) {


    #header .header-Container{
        padding: 0;
    }

/*---------- Hero Section -----------*/

.hero-section .hero-grid .hero-textbox .textbox-background{
    padding: 2em 2em 2em;
}
.hero-section .hero-grid .hero-textbox-2 img {
    width: 225px;
}
.hero-section .hero-grid .hero-textbox-2 {
    grid-area: 1 / 18 / 5 / 20;
  }








/* About ME Sections */

#about-Me--Section .section-Row{
    display: block;
}
#about-Me--Section .title-Column{
    padding-bottom: 2em;
}
#about-Me--Section .section-Container{
    max-width: 95%;
    padding: 0 2em;
}





/* Latest Work */
#latest-Work--Section .project-Column {
    margin-bottom: 2em;
  }
  #latest-Work--Section .description-Column{
    margin-left: 0em;
    margin-top: 2em;
}



}


@media (max-width: 767.98px) {



/*---------- Hero Section -----------*/

.hero-section .main-Text {
    width: 240px;
  }
.hero-section .main-Text h1{
    font-size: 70px;
  }
.hero-section .hero-grid .hero-textbox-2 img{
    width: 55%;
}



.section-Title{
    font-size: 45px;
}




/* TEch Stack */
#web-Technologies--Section {
    padding: 4em 0 0;
  }
#web-Technologies--Section .tech-Name{
    padding-top: 2em ;
}
.description-Text{
    font-size: 16px;
}



#latest-Work--Section {
    padding: 8em 0;
  }

#latest-Work--Section .description-Text{
    font-size: 16px;
    line-height: 30px;
}
#latest-Work--Section .description-Text b {
    font-size: 17px;
}



#current-Work--Section {
    padding: 3em 0;
  }



.page-Title {
    font-size: 16px;
    font-weight: 700;
  }

 .page-Link {
    font-size: 14px;
    padding: 10px 20px;
  }


/* About Me Section */
#about-Me--Section .text-Column {
    padding: 0em;
}

.bold-Title{
    font-size: 20px;
}

.sub-text{
    font-size: 18px;
    margin-bottom: .5em;
    line-height: 30px;
    text-indent: 15px;
}








.text-Column .text{
    line-height: 36px;
}
#about-Me--Section .text{
    line-height: 36px;
}





#contact-Section .input{
    text-indent: 10px;
}





#thanks-Section .thanks-Message {
    top: 35%;
    font-size: 20px;
    line-height: 40px;
}



#thanks-Section .button{
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
}








#carousel-section .carousel-img {
    width: 80px;
}

  
#carousel-section article {
    display: flex;
    width: 500%;
    animation: bannermove 15s linear infinite;
}
  
  




}





@media (max-width: 575.98px) {



    /*---------- Hero Section -----------*/

.hero-section .hero-grid .hero-textbox .textbox-background {

    padding: 1em 1em 1em;
    border-radius: 20px;
}



/*---------- Hero Section -----------*/
.hero-section .hero-grid {
    grid-template-rows: 8em 4em 1fr 1.5em auto 2em;
}
.hero-section .hero-grid .hero-style2 .hero-style3 .hero-image-style .img{
    height: 450px;
}
.hero-section .hero-grid .hero-textbox{
    grid-area: 2 / 3 / 5 / 25;
    min-width: 12em;
}
.hero-section .textbox-background{
padding: 1em 1em 2em;
}
.hero-section .top-Text{
    font-size: 16px;
}
.hero-section .roles {
    font-size: 18px;
  }
  .hero-section .base {
    font-size: 16px;
}


.hero-section .textbox-button .link-padding{
    padding: 15px 30px;
}
.hero-section .main-Text h1 {
    font-size: 50px;
  }
  .hero-section .main-Text {
    width: 185px;
  }

  .hero-section .x-span {
    font-size: 10px;
    bottom: 3px;
  }

  .hero-section .hero-grid .hero-textbox-2 {
    grid-area: 4 / 14 / 11 / 18;
  }
  .hero-section .hero-grid .hero-textbox-2 img {
    width: 40%;
  }



  #web-Technologies--Section .tech-Column img {

    max-height: 60px;
  }








  .text-Column .text {
    font-size: 18px;
}










.section-Title {
    font-size: 35px;
  }
  






  #latest-Work--Section .project-Column {
    margin-bottom: 3em;
  }
  






  #current-Work--Section .bold-Text {
    font-weight: 900;
    font-family: "Museo Sans Rounded",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 25px;
  }
  .text-Column {
    padding: 0em;
  }


  













}
    
